extends layout

block content
	h1 Upload Your Shiz
	form(action="/upload", method="post", id="spreadsheetUpload")
		input(type="text", name="name", placeholder="Name")
		input(type="text", name="description", placeholder="Description")
		input(type="file", name="spreadsheet")
		input(type="submit", value="Submit")